body {
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #000;
}

header a {
    text-decoration: none;
    color: #000;
}

.app {
    text-align: center;
}

.app input {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 1;
    border-color: black;
}

.app button {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-left: 5px;
    background-color: #00c5be;
    color: #fff;
    border-radius: 5px;
    border: 0;
    appearance: push-button;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.results-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.results {
    text-align: center;
}

.results ul li {
    display: inline-block;
    margin: 40px;
    vertical-align: top;
}
.results ul li > a {
}

.results ul li .name {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Creepster", cursive;
    width: 200px;
}

.title-name {
    font-size: 35px;
    font-family: "Creepster", cursive;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    width: 100%;
    padding: 45px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.results a img {
    width: 200px;
    border-radius: 20px;
    border: 2px solid black;
}

.quote {
    font-size: 52px;
    color: #7d7a7a;
    max-width: 70%;
    margin: 30px auto;
}

.spinner {
    width: 70px;
}

.details {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.imgDetails {
    border-radius: 20px;
}

.species {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 1px;
}
.location {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.botao-back {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao-back button {
    cursor: pointer;
    outline: none;
    border: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    margin: 10px;
}

.botao-back button:hover {
    opacity: 0.75;
}

.button-back {
    background-color: black;
    color: white;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 40px;
}

@media (min-width: 1023px) {
    .results-wrapper {
        margin-top: 100px;
        margin-left: 6%;
        width: 93%;
    }
    .results a img {
        width: 200px;
    }
    .button-back {
        margin-right: 10px;
        border-radius: 50px;
        font-size: 20px;
        padding: 20px 25px;
        font-weight: 600;
        width: 250px;
    }
}

@media (max-width: 1022px) {
    .results-wrapper {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 3%;
        width: 100%;
    }
    .results a img {
        width: 250px;
    }
    .botao-back {
        width: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button-back {
        border-radius: 50px;
        font-size: 20px;
        padding: 20px 40px;
        font-weight: 0;
    }
}
