@media (max-width: 1260px) {
    .second-item {
        margin-left: 5%;
    }
}

.center-list-items {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
}

.center-list-items:hover {
    border-color: black;
}

.search {
    align-self: center;
    display: flex;
    background-color: white;
    padding-right: 10px;
}

.search-icon-div {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
}

@media (max-width: 1022px) {
    .center-list-items {
        font-size: 40px;
        padding: 0 25px;
        letter-spacing: 1.5px;
    }
    .search {
        margin-right: 3%;
        margin-left: 3%;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 35%;
        width: 94%;
    }
    .search-icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-left: 15px;
        margin-right: 20px;
    }
    .search input {
        height: 70%;
        width: 100%;
        font-size: 18px;
        border: 0;
        align-self: center;
        outline: none;
    }

    .search input::placeholder {
        font-size: 18px;
        color: #8d8d8d;
    }
}

@media (min-width: 1023px) {
    .center-list-items {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: -1px;
        border-bottom: 3px solid transparent;
        font-size: 16px;
        padding: 0 20px;
    }
    .search-icon {
        width: 17px;
        height: 17px;
        cursor: pointer;
        margin: 10px;
    }

    .search {
        height: 58%;
        width: 25%;
        border: 0.5px solid lightgrey;
        border-radius: 3px;
        margin-right: 15px;
    }

    .search input {
        height: 80%;
        width: 100%;
        border: 0;
        align-self: center;
        outline: none;
    }

    .search input::placeholder {
        color: lightgrey;
    }
}
