.center-list-items {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: -1px;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.center-list-items:hover {
  border-color: black;
}

.search-icon-div {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 10px;
}

.search {
  height: 58%;
  width: 25%;
  border: 0.5px solid lightgrey;
  border-radius: 3px;
  align-self: center;
  display: flex;
  background-color: white;
  margin-right: 15px;
  padding-right: 10px;
}

.search input {
  height: 80%;
  width: 100%;
  border: 0;
  align-self: center;
  outline: none;
}

.search input::placeholder {
  color: lightgrey;
}
