.menu-bottom {
  border-bottom: 1px solid lightgrey;
  display: flex;
}

.second-item {
  display: flex;
  width: 100%;
  margin-left: 23%;
}

@media (max-width: 1260px) {
  .second-item {
    margin-left: 10%;
  }
}
