.header-desktop {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
}
.list {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
}

.list li {
  cursor: pointer;
}
