.NikeLogo {
    height: 100%;
    display: flex;
    justify-content: center;
}

.nike-icon {
    height: 100%;
    cursor: pointer;
}

@media (min-width: 1023px) {
    .NikeLogo {
        margin-left: 20px;
        padding: 5px 0px 5px 20px;
        width: 90px;
    }

    .nike-icon {
        width: 100%;
    }
}

@media (max-width: 1022px) {
    .NikeLogo {
        padding: 0;
        width: 110px;
    }
}
