@font-face {
    font-family: Futura-ExtraBoldCond;
    src: url("/assets/futura-condensed-extra-bold-regular-webfont.woff");
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body > #root {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
